*{
    box-sizing: border-box;
}

:root{
    --lima-500: #EBFF01;
    --lima-400: #E3EB89;
    --lima-800:#3D410D;
    --roxo-700:#380C48;
    --roxo-500:#682B7D;
    --roxo-200:#DBCDDF;
    --roxo-100:#F3EBF6;
    --pretume: #000;
    --dark-800:#1E2022;
    --dark-600:#45434C;
    --dark-400:#8D8A92;
    --fundo:#F8F8F5;
    /* padrodizar o dark 800 */
}
ol, ul {
    list-style: none;
}
body {
    font-family: 'Inter', sans-serif !important;
    background-color: var(--fundo);
}
.hero {
    position: relative;
    width: 100%;
    height: 314px;
    background: linear-gradient(0deg, rgba(57, 5, 75, 0.56) 0%, rgba(57, 5, 75, 0.56) 100%), url('/static/images/banner-home.png');
    background-size:cover; /* Ajusta o tamanho da imagem para caber completamente */
    background-position: center; /* Centraliza a imagem */
    padding: 20px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hero-content{
    color: white; /* Cor do texto, ajuste conforme necessário */
    text-align: center; /* Centraliza o texto */

}


h1 {
    color: var(--Dark-800, #1E2022);
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.64px;
    align-self: stretch;
}

.hero h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;

    line-height: normal;
    letter-spacing: -0.64px;
    padding-top: 62px;

}
.hero strong {
    font-weight: 900;
}
.hero p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding-bottom: 62px;
}

h1 strong {
    font-weight: 900;
}
a {
    text-decoration: none;
}
.campo-pesquisa{
    padding-top: 32px;
}
.campo-pesquisa h4{
    color: var(--Dark-800, #1E2022);
    font-size: 20px;
    font-weight: 700;
}
.pesquisar-filtrar{
  gap: 12px;
} 
p {
    color: var(--Dark-600, #45434C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.card p {
    color: var(--Dark-400, #8D8A92);
}
.pesquisar{
    border-radius: 16px;
    border: 2px solid var(--roxo-200);
    background: #FFF;
    height: 56px;
    margin-bottom: 24px;
}


.btn-pesquisar {
    width: calc(100% - 77px - 12px); /* 100% - largura do botão Filtrar - gap */
}
#botao-filtrar{
    display: flex;
    padding: 14px;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 77px;
}

/*select pesquisa */
.custom-select{
    width: 341px;
    color: var(--pretume);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px
}
option {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px
    }


.btn-outline-primary{
    background-color: var(--roxo-500);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 16px;
    height: 51px;
}
.btn-outline-secondary {
    border-radius: 16px;
    border: 2px solid var(--roxo-500, #682B7D);
    background: var(--roxo-200, #F3EBF6);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--roxo-500);
    height: 51px;
}

.btn-link{
    color:var(--pretume);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-outline-primary:hover{
    background: var(--roxo-200, #F3EBF6);
}

.btn-outline-secondary:hover{
    background-color: var(--roxo-500);
}
.btn-card{
    display: flex;
    padding: 4px 8px 4px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Lima-400, #E3EB89);
    border: none;
    text-decoration: none!important;
    color: var(--Lima-800, #3D410D);
    height: 32px;
}

#navbar {
    background-color: var(--lima-500)  ;
    max-height: 61px;
    text-decoration: none;
    color: var(--pretume);
}

#navbar a:hover {
    color: var(--roxo-500);
}
#navbar a.active {
   color: var(--roxo-500);
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 57px;  
}

.navbar-nav{
    gap: 32px;
}
.nav-link {
    color: var(--Roxo-500, #682B7D);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active {
    font-weight: 800;
}

.banner-home{
    min-height: 180px;
    max-height: 200px;
    width: 100vw;
}


.agenda {
    margin-top: 80px;
}
.agenda h2{
    color: var(--dark-400, #8D8A92);
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}
 h3 {
    color: var(--Dark-800, #1E2022);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Card dos blocos */
.card {
    padding: 24px 16px;
    gap: 16px;
    border-radius: 16px;
    border: 2px solid var(--Roxo-200, #F3EBF6);
    background: #FFF;
    margin-bottom: 12px;
    min-height: 208px;
}
.card-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-card i {
    margin-right: 5px;
}
.info-card span {
    padding-left: 8px;
}

.categories {
    font-style: italic;
    margin-bottom: 10px;
}

.border-line {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.card-titulo h3 {
    color: var(--roxo-500);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 12px;
}
.add-list-link{
    color: var(--dark-600);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}
.add-list-link a{
    text-decoration-line: underline;
}
.info-card{
    color: var(--pretume, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-card a{
    padding-left: 8px;
}
.card-endereco {
    color: var(--pretume, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 6px;
}
.card-endereco a{
    color: var(--Dark-800, #1E2022);
    line-height: 22px; 
    text-decoration-line: underline;
    padding-left: 8px;
}
.card-endereco p {
    color: var(--Dark-400, #8D8A92);
    font-weight: 400;
    line-height: 22px;
    padding-left: 30px;
}
.endereco-column {
    display: flex;
    flex-direction: row; /* Muda para flex-direction: row para dispor os itens em uma linha */
}

.endereco-column a {
    display: block;
}
.endereco-column p {
    padding-left: 8px;
}
.endereco-content {
    display: block;
}
.card-data{
    color: var(--Dark-800, #1E2022);

    font-weight: 400;
    line-height: 22px;
}
.card svg {
    color: var(--dark-600);
}
.card-titulo svg {
    color: var(--Lima-800);
}
.outros{
    margin-bottom: 48px;
}
.outros h3{
    color: var(--dark-800, #1E2022);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.outros p{
    color: var(--dark-800, #1E2022);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.btn-light{
    border-radius: 16px;
    background: var(--lima-600, #E3EB89);
}
.btn-light:hover{
    background-color: var(--roxo-200);
    color: white;
}

.bi-instagram{
    color: var(--roxo-100);
}
footer{
    background-color: var(--roxo-700);
    max-height: 323px;
}
footer span {
    color: var(--roxo-100);
}

/* Sidebar */
.offcanvas{
    background-color: var(--fundo);
}
.offcanvas-body{
    width: 341px;
}
.offcanvas-header h4{
    margin-bottom: 32px;
    color: var(--dark-800, #45434C);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offcanvas-body h5{
    margin-bottom: 8px;
    color: var(--dark-800, #45434C);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
/* .offcanvas-body input {
    width: 341px;
    padding: 16px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
} */

 .side-btn {
    width: 341px;
    margin-top: 24px;
    gap: 8px;

} 

#blocosContainer h2{
    margin-top: 82px;
    margin-bottom: 32px;
    color: var(--Dark-800, #1E2022);
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#btn-proximos{
    width: 100%;
    margin-top: 24px;
}
.mapa-section{
    background: var(--Lima-400, #E3EB89);
    min-height: 452px;

}
.cade-bloco{
    padding-top: 80px;
    padding-bottom: 24px;
    margin-top: 80px;
    gap: 24px;
}
.cade-bloco h2{
    width: 40%;
    white-space: nowrap;
    color: var(--Dark-800, #1E2022);
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cade-bloco span {
    max-width:  301px;
    color: var(--Dark-800, #1E2022);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    
}
.cade-bloco strong{
    color: var(--Dark-800, #1E2022);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.mapa-blocos {
    padding-bottom: 80px;
}
.mapa-blocos iframe{
    border-radius: 16px;
}

ul, li{
    padding: 0;
    margin: 0;
}

.footer-Conteudo{
    justify-content: space-between;
    padding-top: 48px;
}
.footer-Conteudo ul {
    gap: 16px;
}
.footer-redes {
    padding-top: 34px;
}
.footer-redes img{
padding-right: 8px;
}
.footer-Conteudo ul, .footer-Conteudo li {
    list-style: none;
}

.footer-Conteudo a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.footer-Conteudo h4 {
    color: var(--lima-500);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.footer-contato{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 48px;
}
.footer-contato a {
    text-decoration:underline;
    color: #FFF;
}

/* minhalista */
.hero-lista{
    width: 100%;
    height: 180px;
    background: url('/static/images/banner-lantejoulas.png') no-repeat;
    background-size: cover; /* Ajusta o tamanho da imagem para caber completamente */
}
.meus-blocos{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.btn-compartilhar{
    align-items: center;
    font-family: Inter;
    gap: 8px;
    width: 132px;
    height: 35px;
    border-radius: 8px;
    background: var(--Roxo-500, #682B7D);
}
.modal-title{
    color: var(--roxo-500);
    font-family: Merriweather;
    font-size: 24px;
    font-weight: bold;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.modal-body button {
    width: 190px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    color: var(--dark-600);
}
.modal-body button:hover{
    color: var(--roxo-500);
}
.btn-link img{
    padding-left: 8px;
}
.minha-lista{
    margin-top: 32px;
    margin-bottom: 80px;
}
.minha-lista h5{
    margin-bottom: 12px;
}
.minha-lista h6 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1.5rem;
}
.btn-blocos{
    font-family: Inter;
    align-items: center;
    gap: 8px;
    width: 141px;
    height: 35px;
    border-radius: 8px;
    background: var(--lima-400);
    border: none;
    margin-top: 32px;
    margin-bottom: 80px;
}

/* minhalista Fim */

/* Sobre */
.corpo {
    max-width: 624px!important;
  }

.sobre{
    margin-top: 80px;
    margin-bottom: 157px;
}
.sobre-nos{
    margin-top: 64px !important;
}

.sobre-title {
    color: var(--Roxo-500, #682B7D);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.32px;
    }
.headline{
    display: flex;
    align-items: center;
    gap: 16px;

}
.headline-text {
    display: flex;
    flex-direction: column;
}
.headline-text h3{
padding-top: 51px;
}
.headline-text p{
    color: var(--Dark-600, #45434C);    
}
.sobre-text p {
    color: var(--dark-800);
}
.image-rounded{
    border-radius: 50%;
    height: 102px;
}
.sobre-contato ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.sobre-contato a {
    color: var(--dark-800);
    text-decoration: underline;
}
.sobre-contato a:hover {
    color: var(--roxo-200);
}


/* Responsivo */
@media (min-width:990px){
    #navbar {
        padding-left: 200px;
        padding-right: 200px;
    }
}
@media (max-width: 990px) {
    .nav-link {
        color: var(--lima-400);
    }

    #navbarNav {
        margin-top: 13px;
        background-color: var(--roxo-700);
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }
    .navbar-nav {
        padding-left: 24px;
        padding-right: 24px;
    }
    .nav-item {
        background-color: var(--roxo-700);
        padding-top: 32px;
        padding-bottom: 32px;
    }
    #navbar a.active {
    font-weight: bold;
    color: var(--lima-400);
    }
    .nav-item:last-child{
        margin-bottom: 32px;
    }
  }
  @media (max-width: 599px){
    svg {
        width: 20px;
        height: 20px    ;
    }
    h3 {
       font-size: 20px !important;
    }
    span {
      font-size:  14px;
    }
    .card-horario {
        margin-right: -10px;
    }
    .hero{
        height: 254px;
        padding-left: 12px;
        padding-right: 12px;
        background-size: cover;
    }
    .hero h1 {
        font-size: 40px;
    }
    .cade-bloco{
        flex-direction: column!important;
    }
    .cade-bloco h2{
        font-size: 28px;
    }
    .navbar-nav {
        gap: 24px;
    }
    .collapse {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    }
    button img {
        width: 18px;
        height: 18px;
    }
    .btn-card{
        padding: 4px 8px 4px 12px;
    }
    .corpo {
        padding-left: 16px;
        padding-right: 16px;
    }
  }
  .endereco-column svg {
    margin-right: 8px; 
    min-width: 24px!important;
    min-height: 24px!important;
}
