*{
    box-sizing: border-box;
}

:root{
    --verde-500: #EBFF01;
    --verde-400: #E3EB89;
    --verde-800:#3D410D;
    --roxo-700:#380C48;
    --roxo-500:#682B7D;
    --roxo-200:#DBCDDF;
    --roxo-100:#F3EBF6;
    --pretume: #000;
    --dark-80:#1E2022;
    --dark-600:#45434C;
    --dark-400:#8D8A92;
    --fundo:#F8F8F5;
}
body {
    font-family: 'Inter', sans-serif !important;
    background-color: var(--fundo);
}
.corpo {
    max-width: 600px !important;
}

h1 {
    color: var(--Dark-800, #1E2022);
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.64px;
    align-self: stretch;
}
h1 strong {
    font-weight: 900;
}
a {
    text-decoration: none;
}
.pesquisar-filtrar{
  gap: 12px;
} 
p {
    color: var(--Dark-600, #45434C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.card p {
    color: var(--Dark-400, #8D8A92);
}
.pesquisar{
    border-radius: 16px;
    border: 2px solid var(--roxo-200);
    background: #FFF;
    height: 56px;
    margin-bottom: 24px;
}

.btn-pesquisar {
    width: calc(100% - 77px - 12px); /* 100% - largura do botão Filtrar - gap */
}
#botao-filtrar{
    display: flex;
    padding: 14px;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 77px;
}

/*select pesquisa */
.custom-select{
    width: 341px;
    color: var(--pretume);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px
}
option {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px
    }


.btn-outline-primary{
    background-color: var(--roxo-500);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 16px;
    height: 51px;
}
.btn-outline-secondary {
    border-radius: 16px;
    border: 2px solid var(--roxo-500, #682B7D);
    background: var(--roxo-200, #F3EBF6);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--roxo-500);
    height: 51px;
}

.btn-link{
    color:var(--pretume);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-outline-primary:hover{
    background: var(--roxo-200, #F3EBF6);
}

.btn-outline-secondary:hover{
    background-color: var(--roxo-500);
}
.btn-card{
    display: flex;
    padding: 4px 8px 4px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Lima-400, #E3EB89);
    border: none;
    text-decoration: none!important;
    color: var(--Lima-800, #3D410D);
    height: 32px;
}

#navbar {
    background-color: var(--verde-500)  ;
    max-height: 61px;
    text-decoration: none;
    color: var(--pretume);
}

#navbar a:hover {
    color: var(--roxo-500);
}
#navbar a.active {
   color: var(--roxo-500);
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 57px;  
}

.navbar-nav{
    gap: 64px;
}
.nav-link {
    color: var(--Roxo-500, #682B7D);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active {
    font-weight: 800;
}

.banner-home{
    min-height: 180px;
    max-height: 200px;
    width: 100vw;
}


.agenda {
    margin-top: 80px;
}
.agenda h2{
    color: var(--dark-400, #8D8A92);
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}
 h3 {
    color: var(--Dark-800, #1E2022);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Card dos blocos */
.card {
    padding: 24px 16px;
    gap: 16px;
    border-radius: 16px;
    border: 2px solid var(--Roxo-200, #F3EBF6);
    background: #FFF;
    margin-bottom: 12px;
    min-height: 208px;
}
.card-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-card i {
    margin-right: 5px;
}

.categories {
    font-style: italic;
    margin-bottom: 10px;
}

.border-line {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.card-titulo h3 {
    color: var(--grey-900, #1A202C);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.add-list-link{
    color: var(--dark-600);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}
.add-list-link a{
    text-decoration-line: underline;
}
.info-card{
    color: var(--pretume, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-card span{
    padding-left: 8px;
}
.card-endereco {
    color: var(--pretume, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-endereco span{
    color: var(--Dark-800, #1E2022);
    line-height: 22px; 
    text-decoration-line: underline;
    padding-left: 8px;
}
.card-endereco p {
    color: var(--Dark-400, #8D8A92);
    font-weight: 400;
    line-height: 22px;
    padding-left: 36px;
}

.card-data{
    color: var(--Dark-800, #1E2022);

    font-weight: 400;
    line-height: 22px;
}
.card svg {
    color: var(--dark-600);
}
.card-titulo svg {
    color: var(--Lima-800);
}
.outros h3{
    color: var(--dark-80, #1E2022);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.outros p{
    color: var(--dark-80, #1E2022);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.btn-light{
    border-radius: 16px;
    background: var(--Verde-600, #E3EB89);
}
.btn-light:hover{
    background-color: var(--roxo-200);
    color: white;
}

.bi-instagram{
    color: var(--roxo-100);
}
footer{
    background-color: var(--roxo-700);
}
footer span {
    color: var(--roxo-100);
}

/* Sidebar */
.offcanvas-body{
    width: 341px;
}
.offcanvas-header h4{
    margin-bottom: 32px;
    color: var(--dark-800, #45434C);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offcanvas-body h5{
    margin-bottom: 8px;
    color: var(--dark-800, #45434C);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
/* .offcanvas-body input {
    width: 341px;
    padding: 16px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
} */

 .side-btn {
    width: 341px;
    margin-top: 24px;
    gap: 8px;

} 

/* Responsivo */
@media (max-width: 990px) {
    .nav-link {
        background-color: white;
    }

    #navbarNav {
        margin-top: 30px;
        align-items: center;
        justify-content: center;
    }
  }
  @media (max-width: 599px){
    svg {
        width: 20px;
        height: 20px    ;
    }
    h3 {
       font-size: 20px !important;
    }
    span {
      font-size:  14px;
    }
    .card-horario {
        margin-right: -10px;
    }
  }