<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnavou</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N7SYZ0BVJ3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N7SYZ0BVJ3');
</script>

    <!-- Google tag Carnavou (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M62MWTFMEQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M62MWTFMEQ');
    </script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MLHHRWSM');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLHHRWSM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-lg navbar-light sticky-top " id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/index.html">
                <img src="/static/images/carnavou.svg" alt="Logo" width="110px">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active"  active href="/index.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="ChamaLista()"  >MINHA LISTA</a>
                    </li>
<!--                     <li class="nav-item">
                        <a class="nav-link" href="sobre.html">SOBRE NÓS</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="hero">
        <div class="hero-content container corpo">
            <h1>Eu quero é botar <br>
                <strong>meu bloco na rua</strong></h1>
                <p>Os <strong>blocos de São Paulo</strong> na palma da sua mão.</p>
        </div>
    </div>

    <section class="container mt-5 corpo campo-pesquisa corpo">

     <h4>Pesquise pelo bloco</h4>
        <div class="mt-3">
            <div class="row">
                <div class="col">
                    <input type="text" for="nomeInput" id="nomeInput" class="form-control pesquisar" placeholder="Pesquise pelo nome do bloco..."  aria-label="Pesquisar">
                </div>
            </div>      
            <div class="d-flex justify-content-between text-end pesquisar-filtrar">
                <button id="botaoPesquisa" class="btn btn-outline-primary flex-grow-1 me-3" type="button">Pesquisar</button>
                <button  class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="width: 77px;">Filtrar</button>
            </div>
        </div>


        <!-- Sidebar do filtro -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header d-flex justify-content-between align-items-center ">
              <h4 class="text-center mx-auto mb-0 mt-5 pt-5 " id="offcanvasRightLabel">Selecione seus filtros</h4>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
                   <!-- Sidebar Body -->
            <div class="offcanvas-body text-center mx-auto px-0">
                <div class="col">
                    <h5 class="text-start">Data</h5>
                    <select id="dataInput" class="form-select pesquisar" aria-label="Pesquisar">
                        <option value="">Selecione a data</option>
                        <option value="09/02/2024">Abertura do Carnaval: 09/02</option>
                        <option value="10/02/2024">Sabado de Carnaval: 10/02</option>
                        <option value="11/02/2024">Domingo de Carnaval: 11/02</option>
                        <option value="12/02/2024">Segunda de Carnaval: 12/02</option>
                        <option value="13/02/2024">Terça de Carnaval: 13/02</option>
                        <option value="14/02/2024">Quarta de Cinza: 14/02</option>
                        <option value="17/02/2024">Sabado Pós Carnaval: 17/02</option>
                        <option value="18/02/2024">Domingo Pós Carnaval: 18/02</option>
                    </select>
                </div>

                <div class="col">   
                    <h5 class="text-start">Região</h5>
                    <select id="localInput" class="form-select pesquisar" aria-label="Pesquisar">
                        <option value="">Selecione o bairro</option>
                        <option value="Aricanduva">Aricanduva</option>
                        <option value="Butantã">Butantã</option>
                        <option value="Campo Limpo">Campo Limpo</option>
                        <option value="Capela do Socorro">Capela do Socorro</option>
                        <option value="Casa Verde">Casa Verde</option>
                        <option value="Cidade Ademar">Cidade Ademar</option>
                        <option value="Cidade Tiradentes">Cidade Tiradentes</option>
                        <option value="Ermelino Matarazzo">Ermelino Matarazzo</option>
                        <option value="Freguesia">Freguesia</option>
                        <option value="Guaianases">Guaianases</option>
                        <option value="Ipiranga">Ipiranga</option>
                        <option value="Itaim Paulista">Itaim Paulista</option>
                        <option value="Jabaquara">Jabaquara</option>
                        <option value="Jaçanã/Tremembé">Jaçanã/Tremembé</option>
                        <option value="Lapa">Lapa</option>
                        <option value="M Boi Mirim">M Boi Mirim</option>
                        <option value="Mooca">Mooca</option>
                        <option value="Parelheiros">Parelheiros</option>
                        <option value="Penha">Penha</option>
                        <option value="Pinheiros">Pinheiros</option>
                        <option value="Pirituba/Jaraguá">Pirituba/Jaraguá</option>
                        <option value="Santana/Tucuruvi">Santana/Tucuruvi</option>
                        <option value="Santo Amaro">Santo Amaro</option>
                        <option value="São Mateus">São Mateus</option>
                        <option value="São Miguel Paulista">São Miguel Paulista</option>
                        <option value="Sapopemba">Sapopemba</option>
                        <option value="Sé">Sé</option>
                        <option value="Vila Maria/Vila Guilherme">Vila Maria/Vila Guilherme</option>
                        <option value="Vila Mariana">Vila Mariana</option>
                        <option value="Vila Prudente">Vila Prudente</option>
                    </select>
                </div>

                <div class="row d-flex flex-column side-btn mx-auto ">
                    <button class="btn btn-outline-primary " id="botaoFiltrar">Aplicar Filtros</button>
                    <button class="btn btn-link " id="botaoLimpar">Limpar Filtros</button>
                </div>

            </div>
          </div>
    </section>

    <section class="container corpo">

        <div class="programacao ">
            <div id="blocosContainer" class="corpo">
                <!-- Os cards serão adicionados aqui dinamicamente -->
            </div>
            <div class="agenda">
                <h2>Agenda 2024</h2>
                <h3>Pós Carnaval 🎉</h3>
                <p>18/02</p>
            </div>
            <button id="btn-proximos" class="btn btn-outline-primary" type="button">Próximos blocos</button>
        </div>
    </section>

    <section class="mapa-section">
        <div class="container corpo d-flex flex-row cade-bloco">
            <h2>Cadê o bloco?</h2>
            <span><strong>Mapa dos blocos</strong> de São Paulo pra nenhum folião ficar perdido!</span>
        </div>
        <div class="mapa-blocos container corpo">
            <iframe   width="100%"
            height="300"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/d/embed?mid=1Pck6kcz2kAV45nvNmJrJzj5tk7neDmg&ehbc=2E312F&noprof=1"></iframe>
        </div>

    </section>

    <footer>
        <div class="container corpo d-flex footer-Conteudo ">
        <ul class=" d-flex flex-column">
            <li> <a href="/index.html">
                <img src="/static/images/carnavou-footer.svg" alt="Logo Carnavou Amarelo"></a></li>
            <li>
                <a href="/index.html">
                    Pesquise Blocos
                  </a>
            </li>
            <li><a href="#" onclick="ChamaLista()">Minha Lista</a></li>
<!--             <li><a href="/sobre">Quem Somos</a></li> -->
        </ul>
        <ul class=" d-flex flex-column footer-redes">
            <li><h4>Nas redes</h4></li>
            <li><a href="https://www.instagram.com/carnavousp/"><img src="/static/images/instagram.svg" alt="Link logo Instagram">Instagram</a></li>
        </ul>
        </div>
        <div class="container corpo d-flex footer-contato">
            <span>Entre em contato por <a href="mailto:">carnavouapp@gmail.com</a></span>
            <span>Desenvolvido por Vitor Ruis e Mari do Brasil @2024 </span>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
<!--     //Remover se nao foi utilizar o popper e jquery -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>